.ENV
.env
*.env
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/
npm-debug.log* 
/backend/target/
*.class
*.jar
*.war
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
postgres_data/
/database/data/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db