<footer>
    <div class="footer-top">
        <div class="footer-card">
            <h1>Adriano</h1>
            <p>Projeto de Systema de Biblioteca desenvolvido para fins acadêmicos, com foco na aplicação de conceitos de análise, desenvolvimento e organização de sistemas.</p>
        </div>
        <div class="footer-card">
            <h2>Redes Sociais</h2>
            <ul class="footer-redes-socais">
                <li><a href="https://github.com/victinhoos" rel="no-preferrer" target="_blank">Linkedin</a></li>
                <li><span class="footer-decoration"><a href="https://github.com/victinhoos" rel="no-preferrer" target="_blank">Github</a></span></li>
                <li><a href="https://github.com/victinhoos" rel="no-preferrer" target="_blank">Instagram</a></li>
                <li><span class="footer-decoration"><a href="https://github.com/victinhoos" rel="no-preferrer" target="_blank">X</a></span></li>
            </ul>
        </div>
        <div class="footer-card">
            <h2>Informações</h2>
            <ul class="footer-informacao">
                <li>
                    <a routerLink="/horario" routerLinkActive="active-link" rel="next">Horario</a>
                </li>
                <li>
                    <span class="footer-decoration">
                        <a routerLink="/horario" routerLinkActive="active-link" rel="next">Como faço para doar?</a>
                    </span>
                </li>
                <li>
                    <a routerLink="/horario" routerLinkActive="active-link" rel="next">Como faço para alugar espaço?</a>
                </li>
                <li>
                    <span class="footer-decoration">
                        <a routerLink="/horario" routerLinkActive="active-link" rel="next">Como faço para alugar livros?</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        adriano@emailparacontatoexemplo.com
    </div>
</footer>