<footer>
    <div class="footer-top">
        <div class="footer-card">
            <h1>Adriano</h1>
            <p>Projeto de Sistema de Biblioteca desenvolvido para fins acadêmicos, com foco na aplicação de conceitos de análise, desenvolvimento e organização de sistemas.</p>
        </div>
        <div class="footer-card">
            <h2>Endereço</h2>
            <p>Rua das Acacias, Beia Mar, Recife</p>
        </div>
        <div class="footer-card">
            <h2>Redes Sociais</h2>
            <ul class="footer-redes-socais">
                <li><a href="https://linkedin.com/in/seu-perfil" target="_blank">Linkedin</a></li>
                <li><span class="footer-decoration"><a href="https://github.com/victinhoos" target="_blank">Github</a></span></li>
                <li><a href="https://instagram.com/seu-perfil" target="_blank">Instagram</a></li>
                <li><span class="footer-decoration"><a href="https://twitter.com/seu-perfil" target="_blank">X</a></span></li>
            </ul>
        </div>
        <div class="footer-card">
            <h2>Informações</h2>
            <ul class="footer-informacao">
                <li>
                     <a routerLink="/faq">Horario</a>

                </li>
                <li>
                    <span class="footer-decoration">
                        <a routerLink="/faq" fragment="como-doar" routerLinkActive="active-link">Como faço para doar?</a>
                    </span>
                </li>
                <li>
                    <a routerLink="/faq" fragment="aluguel-espaco" routerLinkActive="active-link">Como faço para alugar espaço?</a>
                </li>
                <li>
                    <span class="footer-decoration">
                        <a routerLink="/faq" fragment="aluguel-livros" routerLinkActive="active-link">Como faço para alugar livros?</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
       adriano@emailparacontatoexemplo.com
    </div>
</footer>